<h2>Carrito</h2>

<% if (items.length === 0) { %>
  <p>Carrito vacío</p>
<% } else { %>
  <ul>
  <% items.forEach(i => { %>
    <li>
      <strong><%= i.name %></strong> –
      Cantidad: <%= i.quantity %> –
      Subtotal: $<%= i.subtotal %>
    </li>
  <% }) %>
  </ul>
<% } %>
