<h2>Iniciar sesión</h2>

<form method="POST">
  <input name="usuario" placeholder="Usuario" required>
  <input name="password" type="password" placeholder="Contraseña" required>
  <button>Entrar</button>
</form>
