<h2>Registro</h2>

<form method="POST">
  <input name="usuario" placeholder="Usuario" required>
  <input name="password" type="password" placeholder="Contraseña" required>
  <button>Registrar</button>
</form>
